@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* CSS HEX Variables */
:root {
  --buff: #cf9b69;
  --sage: #b5ae35;
  --lion: #ad8641;
  --caf-noir: #552b00;
  --satin-sheen-gold: #bf8f2d;
  --background-color: #e6d18c;
  --text-light: #fff;
  --text-dark: #333;
  --frame-light: #fff9da;
  --shadow-color: rgba(77, 63, 44, 0.5);
}
* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /*outline: 1px solid red;  Visar ramar för alla element */
}

/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body does not exceed the viewport width */
  /* Hadde problem med att det blev ett gap på sidan av sidan, så jag la till detta */
}

body {
  font-family: "Quicksand", serif;
  background-color: var(--background-color);
  background-image: url('../leaf.svg');
  background-size: 350px 171px;
  background-repeat: repeat;
  background-blend-mode: multiply;
}

img {
  max-width: 100%;
}
a:visited {
  text-decoration: none
}
h1, h2, h3 {
  font-family: "DynaPuff", sans-serif;
}

header h1 {
  margin-bottom: 0.5rem;
}
/* Navigation Styling */
nav {
  font-family: "DynaPuff", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: var(--sage);
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--text-light);
}
nav .logo img {
  width: 60px;
  margin-right: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 18px;
  font-weight: 500;
}
nav ul li a:hover {
  color: var(--text-dark);
}
.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-menu li {
  margin: 20px;
}

/* Opening Hours Styles */
.opening-hours {
  background: var(--sage);
  display: flex;
  justify-content: center;
  padding: 20px;
}
.opening-hours section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.opening-hours p {
  color: var(--text-light);
  font-size: 1.2rem;
  margin-right: 10px;
}
.opening-hours span:hover {
  color: var(--text-dark);
}

/* Header Content Styling */
.header {
  width: 100%;
  height: 60vh;
  background-image: url('../Images/hippoCropCropWarmthCircleWarm.png');
  background-color: #b38338ff;
  background-position: center;
  background-size: center; /* Ensure the image fits within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contentHeader {
  margin-top: 2%;
  margin-left: 9%;
  color: var(--text-light);
}

.contentHeader h1 {
  font-size: 96px;
  line-height: 140px;
  font-weight: 600;
  text-shadow: 0 4px 4px var(--shadow-color);
  padding-bottom: 10px;
}

.contentHeader p {
  font-size: 1.5rem;
  max-width: 700px;
  line-height: 40px;
  opacity: 0;
  text-shadow: 0 4px 4px var(--shadow-color);
}

/* Tiled Color Container Header*/
.tiled-color-container {
  width: 100%;
  height: 100px; /* Adjust based on your needs */
  background-color: var(--sage); /* Solid color for the background */
  clip-path: polygon(0% 21%, 4% 33%, 12% 37%, 20% 34%, 31% 26%, 38% 18%, 45% 18%, 52% 22%, 59% 34%, 69% 45%, 76% 39%, 82% 29%, 87% 19%, 93% 14%, 100% 21%, 100% 0%, 0% 0%);
}

/* About Section Styling */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  margin: 50px auto; 
  width: 70%; /* Set a specific width */
  overflow: hidden; /* Hide the image edges. */
  background-color: var(--frame-light);
  border-radius: 20px;
}
.about-text-block {
  text-align: center;
  padding: 20px;
}
.about-text-block p {
  font-size: 1.2rem;
  color: var(--text-dark);
}


/* Playground Container Styling */
.playground-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 50px auto; /* Center the container */
  width: 70%; /* Set a specific width */
  background-color: var(--frame-light);
  border-radius: 20px;
}
.playground {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.playground h2 {
  color: var(--caf-noir);
  margin-bottom: 20px;
}
.playground p {
  font-size: 1.2rem;
  color: var(--text-dark);
  margin-bottom: 20px;
}

/* Inner Sections Styling */
.playground-section {
  margin-bottom: 30px;
}
.playground-section h3 {
  color: var(--lion);
  margin-bottom: 10px;
}
.playground-section p {
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 10px;
}
/* Restaurants Section Styling */
.restaurants {
  width: 100%;
  height: 60vh;
  background-image: url('../Images/resturant.png');
  background-color: var(--buff);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start; /* Align horizontally to the left */
  align-items: center; /* Align vertically to the center */
  padding: 20px; 
  margin-bottom: 50px;
}

.contentRestaurants {  
  padding: 2rem; /* Scales well on different screens */
  margin-left: 15%; /* Space between the box and the left edge, relative to screen width */
  background-color: #fff;
  color: var(--text-light);
  border-radius: 1em;
  max-width: 600px; /* Limit the box width for readability */
  width: 90%; /* Makes the box dynamic and scales on smaller screens */
}

.contentRestaurants h2 {
  color: var(--caf-noir);
  margin-bottom: 20px;

}
.contentRestaurants p {
  font-size: 1.2rem;
  color: var(--text-dark);
}

/* Links and Buttons */
.links {
  margin-top: 30px;
  opacity: 0;
}

.links a {
  color: var(--text-light);
  text-decoration: none;
  display: inline-block;
}

.linksResturang a {
  color: var(--text-dark);
  text-decoration: none;
  display: inline-block;
}

.btn {
  border: 2px solid var(--text-light);
  padding: 10px 35px;
  border-radius: 30px;
  margin-right: 15px;
}

.btnSolid {
  background: var(--buff);
  padding: 10px 35px;
  border-radius: 30px;
  margin-right: 15px;
}

.btnSeeMore {
  margin-right: 15px;
  padding: 10px 35px;
  border-radius: 30px;
}

.btn:hover {
  background: var(--text-light);
  color: var(--text-dark);
}

.btnSeeMore:hover {
  background: var(--text-light);
  color: var(--text-dark);
}

/* Animations */
.slide-left {
  animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translateX(100px); /* Use translateX for horizontal movement */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

p.slide-left {
  animation-delay: 1s;
}

.links.slide-left {
  animation-delay: 2s;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--caf-noir);
  margin-bottom: 10px;
}

section h3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--lion);
  margin-bottom: 10px;
}

section p {
  font-size: 1.2rem;
  color: #111111; /* Text color */
  margin-bottom: 20px;
  max-width: 1200px; /* Set maximum width */
  margin-left: auto;
  margin-right: auto;
}

/* Footer Styling */
footer {
  font-family: "DynaPuff", sans-serif;
  background: var(--sage); /* sage */
  color: var(--text-light);
  text-align: center;
  padding: 40px 0;
  width: 100%;
  bottom: 0;
}  
footer ul {
  display: flex;
  justify-content: center;
}

/* Events Grid Styling */
.events-container {
  padding: 1.25em 0em;
  margin: 0 auto;
  background-color: var(--frame-light);
  box-shadow: 0 2px 4px rgba(107, 106, 95, 0.007);
}
.events {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
  list-style: none;
  padding: 1.25em;
  margin: 0 auto; /* Center the container */
  width: 70%; /* Set a specific width */
}

.event {
  background-color: var(--text-light);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.082);
  flex: 1 1 calc(25% - 20px); /* 4 columns with gap */
  max-width: calc(25% - 20px);
  text-align: center;
  box-shadow: 0 2px 4px rgba(107, 106, 95, 0.007);
}

.event img {
  max-width: 100%;
  max-height: 650px; /* Set a maximum height */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image covers the box */
}

.event h2 {
  font-size: 1rem;
  margin-top: 10px;
}

.event h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.event p {
  font-size: 1rem;
  margin-top: 5px;
}

.animals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 50px 0px;
  margin: 0 auto; /* Center the container */
  width: 70%; /* Set a specific width */
  background-color: var(--buff);
  border-radius: 2%;
}

.animals-container h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--caf-noir);
  margin-bottom: 30px;
}
.animals-container h3 {
  text-align: center;
  font-size: 1rem;
  color: var(--caf-noir);
  margin-bottom: 10px;
}

/* Animals Grid Styling */
.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
  list-style: none;
  margin: 50px auto;
  width: 90%; /* Set a specific width */
}

.animal-box {
  background-color: var(--text-light);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 calc(33.33% - 20px); /* 3 columns with gap */
  max-width: calc(33.33% - 20px);
}

.animal-box img {
  clip-path: polygon(28% 4%, 45% 3%, 81% 5%, 92% 8%, 95% 22%, 96% 58%, 95% 86%, 85% 93%, 61% 97%, 25% 98%, 6% 93%, 2% 73%, 3% 14%, 10% 5%);
  max-width: 100%;
  max-height: 530px; /* Set a maximum height */
  height: auto;
  border-radius: 8px;
}
/* Newsletter Container */
.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  padding: 50px 0px;
  margin: 30px  auto; /* Center the container */
  width: 70%; /* Set a specific width */
  background-color: var(--frame-light);
  border-radius: 20px;
}

.newsletter {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.newsletter-container h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--caf-noir);
  margin-bottom: 30px;
}

/* Form Group Styling */
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 0.2em;
  max-width: 500px;
}

.form-group label {
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 5px;
}

.form-group input {
  text-align: center;
  padding: 1em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 90%;
}

.form-group input:focus {
  border-color: var(--sage);
  outline: none;
}

.btn-primary {
  font-family: "DynaPuff", sans-serif;
  background-color: var(--sage);
  color: var(--text-light);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--buff);
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  nav {
    flex-wrap: wrap; /* Wrap the navigation items */
  }
  .header {
    width: 100%; /* Ensure the header does not exceed the viewport width */
    height: 40vh;
  }
  .contentHeader {
    margin-top: 2%;
    margin-left: 7%;
    color: var(--text-light);
  }
  .header h1 {
    font-size: 4rem; /* Adjust font size for smaller screens */
  }
  .header p {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
  }
  .opening-hours section {
    flex-direction: column;
    justify-content: center;
  }
  .animal-box {
    flex: 1 1 calc(50% - 20px); /* 2 columns with gap */
    max-width: calc(50% - 20px);
  }
  .events {
    width: 100%; /* Adjust the width */
  }
  .form-row {
    flex-direction: column;
    width: 80%;
    margin: auto;  
  }
}

@media (max-width: 900px) {
  nav {
    flex-wrap: wrap; /* Wrap the navigation items */
    justify-content: center; /* Center align the navigation items */
  }
  .contentHeader {
    margin-top: 0;
    color: var(--text-light);
  }
  .header {
    text-align: center; /* Center align text */
    height: 35vh;
  }
  .header h1 {
    font-size: 1.75rem; /* Further adjust font size for smaller screens */
  }
  
  .event {
    flex: 1 1 calc(50% - 20px); /* 2 columns with gap */
    max-width: calc(50% - 20px);
  }
  .animal-box {
    flex: 1 1 calc(50% - 20px); /* 2 columns with gap */
    max-width: calc(50% - 20px);
  }
  
  .about-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 80%; /* Adjust the width */
  }
  .playground-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 80%; /* Adjust the width */
  }
  .animals-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 80%; /* Adjust the width */
  }
  newsletter-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 80%; /* Adjust the width */
  }
  .restaurants {
    height: 40vh;
  }
}

@media (max-width: 600px) {
  .header {
    text-align: center; /* Center align text */
    height: 50vh;
  }
  .header h1 {
    font-size: 1.5rem; /* Further adjust font size for smaller screens */
  }
  .event {
    flex: 1 1 100%; /* 1 column */
    max-width: 100%;
  }
  .animal-box {
    flex: 1 1 100%; /* 1 column */
    max-width: 100%;
  }
  .about-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 95%; /* Adjust the width */
  }
  .playground-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 95%; /* Adjust the width */
  }
  .animals-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 95%; /* Adjust the width */
  }
  .newsletter-container {
    flex-direction: column; /* Stack the elements on top of each other */
    width: 95%; /* Adjust the width */
  }
}