/* CSS HEX */
/* --buff: #cf9b69ff;
--sage: #b2ad6dff;
--lion: #a78a60ff;
--caf-noir: #502f0cff;
--satin-sheen-gold: #ba9344ff; */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "DynaPuff", sans-serif;
  background-color: fff;
  letter-spacing: 0.5px; /* Add letter spacing */
}

img {
  max-width: 100%;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav {
  background: #b2ad6dff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
}

nav .logo img {
  width: 60px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

nav:hover {
  background: #b2ad6dff;
}

nav:hover li a:hover {
  color: #333;
}

.opening-hours{
  background: #b2ad6dff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* Header Content Styling */
.header {
  width: 100%;
  height: 80vh;
  background-image: url('../Images/hippoVingette.png');
  background-position: center;
  background-size: cover;
  /* overflow-x: hidden; */
}
/* Events Grid Styling */
.events {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.event {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.event img {
  max-width: 100%;
  max-height: 400px; /* Set a maximum height */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image covers the box */
}

.event h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.event p {
  font-size: 1rem;
  margin-top: 5px;
}

.container {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-RetainSize {
  width: 100%;
  height: auto;
}

.contentHeader {
  margin-top: 9%;
  margin-left: 9%;
  color: rgb(253, 255, 248);
}

.contentHeader h1 {
  font-size: 96px;
  line-height: 140px;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(77, 63, 44, 0.5);
  padding-bottom: 10px;
}

.contentHeader p {
  font-size: 1.5rem;
  max-width: 700px;
  line-height: 40px;
  opacity: 0;
  text-shadow: 0 4px 4px rgba(77, 63, 44, 0.5);
}

.links {
  margin-top: 30px;
  opacity: 0;
}

.links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.btn {
  border: 2px solid #fff;
  padding: 10px 35px;
  border-radius: 30px;
  margin-right: 15px;
}

.btnSeeMore {
  margin-right: 15px;
  padding: 10px 35px;
  border-radius: 30px;
}

.btn:hover {
  background: #fff;
  color: #333;
}

.btnSeeMore:hover {
  background: #fff;
  color: #333;
}

.slide-left {
  animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

p.slide-left {
  animation-delay: 1s;
}

.links.slide-left {
  animation-delay: 2s;
}

/* Main Content Styling */
main {
  padding: 20px;
}

section {
  /* padding: 30px; */
}

section h2 {
  text-align: center;
  font-size: 4rem;
  color: #502f0cff;
  margin-bottom: 10px;
}

section h3 {
  font-size: 2rem;
  color: #a78a60ff;
  margin-bottom: 10px;
}

section p {
  font-size: 1.2rem;
  color: #111111; /* Text color */
  margin-bottom: 20px;
}

/* Footer Styling */
footer {
  background: #b2ad6dff; /* sage */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

/* Animals Grid Styling */
.animal-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.animal-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.animal-box img {
  max-width: 100%;
  max-height: 650px; /* Set a maximum height */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image covers the box */
}

.about img {
  scale: .8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

